@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: black;
}

h1,
h4,
p,
a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  /* background-color: #e1ee1e; */
  background-color: #03696e;
  color: #fff;
  border: 1px solid #08b3bc;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
}

.btn-light {
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: #2a388b;
  color: white;
  transition: 0.3s;
}